<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
</head>
<div>
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark" style="background-color: rgba(0, 0, 0, .85); backdrop-filter: saturate(180%) blur(20px)">
        <a class="navbar-brand" href="home">WeLift.</a>
        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                {% if session['ID'] %}
                <a class="nav-item nav-link" href="searchlift">Search</a>
                <a class="nav-item nav-link" href="createtrip">Create</a>
                <a class="nav-item nav-link" href="users">Profile</a>
                <a class="nav-item nav-link" href="logout">Logout</a>
                {% else %}
                <a class="nav-item nav-link" href="login">Login</a>
                <a class="nav-item nav-link" href="register">Register</a>
                {% endif %}
            </div>
        </div>
    </nav>

</div>