<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm Trip</title>
</head>
<body>
{% include 'navBar.html' %}

<h2>Confirm your payment</h2><br><br>

<form>

    <label for="date">Date of departure: {{currentTrip[1]}}</label><br><br>
    <label for="departure">Departure location:</label><br><br>
    <label for="destination">Destination:</label><br><br>
    <label for="capacity">Number of Passengers:</label><br><br>
    <label for="stopovers">Stopovers:</label><br><br>
    <label for="driverName">Driver's name:</label><br><br>

    <label for="reviews">Reviews</label><br><br>

    <h2>Car informations</h2> 

    <label for="license">License plate:</label><br><br>
    <label for="brand">Brand:</label><br><br>
    <label for="model">Model:</label><br><br>
    <label for="year">Year:</label><br><br>
    <label for="color">Color:</label><br><br><br><br>

    <label for="price">Price:</label><br><br> 





</form> 


</body>
</html>
