<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trip informations</title>
</head>
<body>

<h2>Trip informations</h2><br><br>

<form>


    <label for="date">Date of departure:</label><br><br>
    <label for="departure">Departure location:</label><br><br>
    <label for="destination">Destination:</label><br><br>
    <label for="distance">Distance in km:</label><br><br>
    <label for="capacity">Car capacity:</label><br><br>
    <label for="stopovers">Stopovers:</label><br><br>
    <label for="driverName">Driver's name:</label><br><br>
    <label for="driverID">Driver's ID:</label><br><br>
    <label for="passengersID">Passengers's ID:</label><br><br><br><br>



    <h2>Car informations</h2> 

    <label for="license">License plate:</label><br><br>
    <label for="brand">Brand:</label><br><br>
    <label for="model">Model:</label><br><br>
    <label for="year">Year:</label><br><br>
    <label for="color">Color:</label><br><br>



</form> 


</body>
</html>