<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search a lift</title>
</head>
<body>
{% include 'navBar.html' %}

<h2>Search for a lift</h2>

<form action="/searchlift" method="POST">
    <label for="departure">Departure:</label><br>
    <input type="text" id="departure" name="departure" ><br><br>

    <label for="destination">Destination:</label><br>
    <input type="text" id="destination" name="destination" ><br><br>

    <label for="date">Date:</label><br>
    <input type="date" id="date" name="date" ><br><br>

    <label for="numberOfPassengers">Number of passengers:</label><br>
    <input type="number" id="numberOfPassengers" name="numberOfPassengers" ><br><br>


    <label for="maxPrice">Maximum Price:</label><br>
    <input type="number" min="0" id="maxPrice" name="maxPrice" ><br><br>


    <br><br><br>

    <button type="submit">Search</button>

</form> 

{% for trajet in trajets %}
<div style="border: 1px solid;">
    <tr>
        <td> {{trajet[1]}} </td>
        <td> {{trajet[2]}} </td>
        <td> {{trajet[3]}} </td>
        <td> {{trajet[4]}} </td>
        <td> {{trajet[5]}} </td>
        <td> <form action="/paymentTrip/{{ trajet[0] }}"><button >Book this trip</button></form></td>
    </tr>

</div>
{%endfor%}


</body>
</html>