<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search a lift</title>
</head>
<body>

<h2>Search for a lift</h2>

<form>
    <label for="departure">Departure:</label><br>
    <input type="text" id="departure" name="departure" ><br><br>

    <label for="destination">Destination:</label><br>
    <input type="text" id="destination" name="destination" ><br><br>

    <label for="date">Date:</label><br>
    <input type="datetime" id="date" name="date" ><br><br>

    <label for="numberOfPassengers">Number of passengers:</label><br>
    <input type="number" id="numberOfPassengers" name="numberOfPassengers" ><br><br>

    <label for="priceRange">Price range:</label><br><br>

    <label for="minPrice">Minimum:</label><br>
    <input type="number" id="minPrice" name="minPrice" ><br>
    <label for="maxPrice">Maximum:</label><br>
    <input type="number" id="maxPrice" name="maxPrice" ><br><br>


    <br><br><br>

    <input type="submit" value="Create trip">

</form> 


</body>
</html>