<!--<table border="1">
    {% for user in userDetails %}
    <tr>
        <td> {{user[0]}} </td>
        <td> {{user[1]}} </td>
    </tr>
    {% endfor %}
</table>-->


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account info</title>
</head>
<body>
{% include 'navBar.html' %}

<h2>Account info</h2><br><br>


   <label for="userID">User's ID:</label><br><br>
    <label for="fname">First name:</label><br><br>
    <label for="lname">Last name:</label><br><br>
    <label for="email">Email:</label><br><br>
    <label for="gender">Gender:</label><br><br>
    <label for="birthdate">Birthdate:</label><br><br>
    <label for="country">Country:</label><br><br>
    <label for="phone">Phone number:</label><br><br>
    <label for="Balance">Balance:</label><br><br><br><br>



</body>
</html>